body {margin: 0; padding: 0; }
header {width: 80%;}
main {width: 100%;background: #00ff7f;height: 650px;text-align: center;}
footer {width: 100%;background: #958fad;height: 60px;float: left;text-align: center;}
ul {margin: 0; padding: 0; list-style: none;}
nav {float: left; width: 100%; background: #00c0ff;font-weight: bold; font-family: Verdana,sans-serif;}
    nav li {float: left;}



/*smartphone*/
@media only screen and (max-width: 480px) {
nav {height: 50px; padding-left: 25%;}
    nav li {width: 100%;}
}


/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
nav {height: 60px; padding-left: 25%;}
    nav li {width: 50%;}
}


/*desktop*/
@media only screen and (min-width: 769px) {
nav {padding-left: 25%;height: 50px}
    nav li {width: 20%;text-align: center;margin-top: 15px;color: #fbfbff;}
}
